html {

    background: #0C729E;
}

h1 {
    font-family: Roboto;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.calculatrice {
    width: 200px;
    height: 300px;
    background-color: #CBCFD1;
    border: 1px solid #000000;
    margin: auto;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
}

.calculatrice td {
    height: 30px;
}

.calc_td_resultat {
    text-align: center;
}

.calc_resultat {
    width: 100%;
    text-align: right;
    font-size: 18px;
}

.calc_td_calculs {
    text-align: center;
}

.calc_calculs {
    width: 90%;
    text-align: left;
}

.cases_touches {
    width: 25%;
    height: 100%;
}

.touches {
    width: 112%;
    height: 112%;
    font-size: 24px;
}